{% extends 'fourth_task/menu.html' %}

{% block pagename %}Главная страница{% endblock %}
{% block page_title %}Главная страница{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>{{ text1 }}</p>

<div id="news-container">
    <h2>Свежие новости</h2>
    <ul>
        {% for item in news_list %}
            <li>
                <h3>{{ item.title }}</h3>
                <p>{{ item.content }}</p>
                <p><small>{{ item.created_at|date:"d M Y" }}</small></p>
            </li>
        {% empty %}
            <li>Нет новостей для отображения.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}